@import "tailwindcss";

@theme {
  --breakpoint-sm: 567px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;

  --color-primary: #674baf;
  --color-secondary: #e882e8;

  --font-poppins: "Poppins", sans-serif;
}

@layer base {
  .container {
    @apply mx-auto;
  }
}

body {
  font-family: "Open Sans", sans-serif;
}
